.feed-Container,
.img-info,
p,
.twich,
a {
  color: #1f0fff;
}
.feed-Container {
  background-color: transparent;

  margin: 4%;
  border: 3px double #ff0ff0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.img-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.imgElement {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.imgElement img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.twich {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.twich a {
  margin-right: 10px;
}
.twich t {
  margin-right: 10px;
}
