.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75.99%;
  background-color: rgba(206, 31, 191, 0.385);
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 2ch;
  transition: transform 0.3s;
  padding: 2cqmax;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(79, 26, 144, 0.4);
  margin-bottom: 5px;
  margin-left: 10%;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(79, 26, 144, 0.568);
}
