.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: none;
  object-fit: contain;
}
.route-container {
  display: flex;
  height: 20%;
  flex-direction: column;
  width: 100vw;
  height: 20%;
}
.logo {
  display: flex;
  float: left;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.route-title {
  text-align: center;
  vertical-align: top;
  font-size: xx-large;
  color: #0b3d6b;
}
.route-title p {
  font-size: 200%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.nav-link {
  display: flexbox;
  flex-direction: row;
  color: #0b3d6b;
  text-decoration: none;
  background-color: transparent;
  width: auto;
  align-self: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.feeds {
  display: flex;
  float: left;
  width: 100%;
  height: fit-content;
}
.vision {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  color: #0b3d6b;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0 auto;
}
